<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>医院管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/fonts/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css" />
    <link rel="stylesheet" href="/static/css/weadmin.css" />
    <script
      type="text/javascript"
      src="/lib/layui/layui.js"
      charset="utf-8"
    ></script>
  </head>

  <body>
    <!-- 顶部开始 -->
    <div class="container">
      <div class="logo">
        <a href="#">医院管理系统</a>
      </div>
      <div class="left_open">
        <i title="展开左侧栏" class="layui-icon layui-icon-shrink-right"></i>
      </div>
      <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
          <a href="javascript:;">+新增</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd>
              <a onclick="WeAdminShow('资讯','#')"
                ><i class="layui-icon layui-icon-list"></i>资讯</a
              >
            </dd>
            <dd>
              <a onclick="WeAdminShow('图片','#')"
                ><i class="layui-icon layui-icon-picture-fine"></i>图片</a
              >
            </dd>
            <dd>
              <a onclick="WeAdminShow('用户','#')"
                ><i class="layui-icon layui-icon-user"></i>用户</a
              >
            </dd>
          </dl>
        </li>
      </ul>
      <ul class="layui-nav right" lay-filter="">
        <img
          style="width: 44px;height: 44px; border-radius: 50%;"

          <% if(imgheader !="null"){ %>
      
          src="<%-imgheader%>"
        
        <%}else{%>

        src="http://image2.sina.com.cn/ent/d/2005-06-21/U105P28T3D758537F326DT20050621155831.jpg"

        <%}%>
        
        />
        <li class="layui-nav-item">
          <a href="javascript:;"><%-username%></a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd>
              <a onclick="WeAdminShow('个人信息','/admin/users/selfInfo')"
                >个人信息</a
              >
            </dd>
            <dd>
              <a class="loginout" href="/loginOut">退出</a>
            </dd>
          </dl>
        </li>
        <li class="layui-nav-item to-index">
          <a href="/">前台首页</a>
        </li>
      </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
          <% if (arr.indexOf(1) != -1) {%>
          <li>
            <a href="javascript:;">
              <i class="iconfont">&#xe6b8;</i>
              <cite>用户管理</cite>
              <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
              <li>
                <a _href="/admin/users/userList">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>用户列表</cite>
                </a>
              </li>
              <% if (arr.indexOf(2) != -1) {%>
              <li>
                <a _href="/admin/users/authList">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>权限管理</cite>
                </a>
              </li>
              <%}%>
              <% if (arr.indexOf(3) != -1) {%>
              <li>
                <a _href="/admin/users/roleList">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>角色管理</cite>
                </a>
              </li>
              <%}%>
            </ul>
          </li>
        <%}%>
<!-- 医生管理模块·························································· -->
          <% if (arr.indexOf(5) != -1) {%>
          <li>
            <a href="javascript:;">
              <i class="iconfont">&#xe705;</i>
              <cite>医生管理</cite>
              <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
              <li>
                <a _href="/admin/doctors/doctorsList">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>医生列表</cite>
                </a>
              </li>
              <li>
                <a _href="/admin/doctors/officeList">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>科室列表</cite>
                </a>
              </li>
            </ul>
          </li>
          <%}%>

<!-- 药物管理······················································· -->
        <% if (arr.indexOf(8) != -1) {%>
          <li>
            <a href="javascript:;">
              <i class="iconfont">&#xe705;</i>
              <cite>药物管理</cite>
              <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
              <li>
                <a _href="/pages/article/category.html">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>药物列表</cite>
                </a>
              </li>
            </ul>
          </li>
          <%}%>
<!-- 患者管理······················································· -->
          <% if (arr.indexOf(6) != -1) {%>
          <li>
            <a href="javascript:;">
              <i class="iconfont">&#xe723;</i>
              <cite>患者管理</cite>
              <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
              <li>
                <a _href="/admin/patients">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>患者列表</cite>
                </a>
              </li>
            </ul>
          </li>
          <%}%>

<!-- 新闻管理······················································· -->
<% if (arr.indexOf(4) != -1) {%>
          <li>
            <a href="javascript:;">
              <i class="iconfont">&#xe723;</i>
              <cite>新闻管理</cite>
              <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
              <li>
                <a _href="/admin/news/manage">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>文章管理</cite>
                </a>
              </li>
              <li>
                <a _href="/admin/news/catagory">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>类别管理</cite>
                </a>
              </li>
            </ul>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
      <div
        class="layui-tab tab"
        lay-filter="wenav_tab"
        id="WeTabTip"
        lay-allowclose="true"
      >
        <ul class="layui-tab-title" id="tabName">
          <li>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">
            <iframe
              src=""
              frameborder="0"
              scrolling="yes"
              class="weIframe"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
      <div class="copyright">
      </div>
    </div>
    <!-- 底部结束 -->
    <script type="text/javascript">
      layui
        .config({
          base: '/static/js/',
          version: '101100'
        })
        .use('admin');
    </script>
  </body>
  <!--Tab菜单右键弹出菜单-->
  <ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
  </ul>
</html>
